<h1>CATCH 'EM ALL</h1>
<h2>All Pokemon</h2>
<% @pokemon.each do |pokemon|%>
<p class="pokemon">
  <a href="/pokemon/<%= pokemon.id %>"><%= pokemon.name %></a>
</p>
<% end %>

<a href='/pokemon/new'>Create your own Pokemon</a>
